.sizeContainer{
    width: 50%;
    height: auto;
}
body{
    background-color: rgb(217, 216, 216);
}

::placeholder{
    font-weight: 2;
    font-size: 20px;

}

input:focus {
    outline-style: none !important;
    box-shadow: none !important;
   
}

.itemBrandStyle{
    font-weight: 2;
}

.listItemStyle{
    font-weight: 10;
    font-size: 20px;
}

.styleTaskContainer:hover{
    background-color: rgba(235, 235, 235, 0.506);
}

.showAndHiddenButton{
    opacity: 0;
}

.styleTaskContainer:hover .showAndHiddenButton{
    opacity: 100;

}

.todosTittleStyle{
    font-size: 100px;
    color: rgba(212, 194, 194, 0.869);
    font-weight: 80;
}


    .paper {
background-color: white;
  box-shadow:
  
    
    0 1px 1px rgba(0,0,0,0.15),
    
    0 10px 0 -5px #eee,
   
    0 10px 1px -4px rgba(0,0,0,0.15),
    
    0 20px 0 -10px #eee,
   
    0 20px 1px -9px rgba(0,0,0,0.15);
    
    
}

.generalContainer{
    box-shadow: 
       0 0 10px rgba(0, 0, 0, 0.361);
    ;
}